/*Configuracion general*/

*{
	box-sizing: border-box;
	font-family: sans-serif;
}
body,
h1,
h2
{
	margin: 0;
}
body{
	background-color: rgb(43,45,57);
	border-left:.1rem;
	border-left:.2rem solid rgb(169, 148, 105);
    border-bottom: .2rem solid rgb(169, 148, 105);
}
/*Controlador de menu*/
.menu{
	display: flex;
	justify-content: flex-start;
    background:linear-gradient(to bottom, transparent, rgb(49, 77, 101));
}
.menu,
.menu ul{
	margin: 0px;
	padding:0px;
	list-style: none;
}	

	

.menu a{
	display: block;
	padding: .9rem;
	color:rgb(0, 0, 0);
	text-decoration: none;
	font-size: larger;
}
.menu i{
	color:red;
}
.menu ul{
	display: none;
	min-width: 5rem;
	position: absolute;
	top: 100%;
	left: 0;
}

.menu li{position: relative;}
.menu li:hover > ul{display: block}

/*Controlador del Header*/
#header{
    height: 25rem;
	width: 100%;
	padding: 6% 3rem;
	text-align: center;
	color: #eee;
    text-shadow: 0 0 .5rem #333;
    background-color: #333;
    background-image:url('../assets/img/Mas.png');
    background-size:  100%;
	object-fit: fill;
    background-repeat: no-repeat;
    
}
.example{
	margin: 0rem;
	border-left:.1rem;
	border-left:.1rem;
	border-left:.2rem solid rgb(169, 148, 105);
    
    padding: .5rem;
    list-style: none;
    
    line-height: 1.0rem;
    max-width: auto;


}


/* estilos de materealize*/
.carousel {
   min-height: 635px;
   overflow: visible;

}
.carousel .carousel-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	
	width: 300px;
	height: 680px;
}
.carousel .carousel-item img{
	width: 100%;
	height: 80%;
	object-fit: fill;
	position:absolute;
	top:90px;
	left:0;
	z-index: -1;

}
.carousel .carousel-item h2{
	position: inherit;
	top: 54px;
	color: rgb(0, 0, 0);
	font-size:2.4rem;
}
.carousel .carousel-item p{
	position: inherit;
	top: 620px;
	color: rgb(255, 255, 255);
	font-size: xx-large;
}

/*de aca para abajo se controlan los cuadros de las armas*/
.armas{
	display: grid;    
    grid-template-columns: auto auto auto auto auto ;
    grid-template-rows: auto auto;
    margin: .6rem;
    
    grid-auto-flow: row;
	cursor:pointer;    
	


}
.armas div{
    display: flex;
    flex-direction: column;
	overflow: hidden;
	margin: 0;
	border: .2rem #333;
	padding: 0;
	line-height: 5rem;
	max-width: 9rem;
	width: 20vw;
	height: 15vh;
	color:#333;
	background-color: #448;
	text-align: center;
    filter:drop-shadow(5px 5px 5px #000)
    
}
	
	
.armas div:nth-child(1){border-radius: 1rem;
    background-image: url("../assets/img/hb.png");
    background-size: 99%;
    background-position: center ;
    background-repeat: no-repeat;}
.armas div:nth-child(2){border-radius: 1rem;
    background-image: url(../assets/img/CAÑO.jpg);
    background-size: 98% ;
    background-position: center ;
    background-repeat: no-repeat;}
.armas div:nth-child(3){border-radius: 1rem;
    background-image: url(../assets/img/Cuchi.jpg);
    background-size: 100% 99%; 
    background-position: center ;
    background-repeat: no-repeat;}
.armas div:nth-child(4){border-radius: 1rem;
   background-image: url(../assets/img/PESA.jpg);
    background-size: 100% 100%;

    background-position: center ;
    background-repeat: no-repeat;}
.armas div:nth-child(5){border-radius: 1rem;
   background-image: url(../assets/img/bashe.png);
    background-size: 100% 100% ;
    background-position: center ;
    background-repeat: no-repeat;}


.T{
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
	height: 100%;
	background: rgba(145, 188, 207, 0.8);
	box-sizing:border-box;
	transition: all 500ms ease-out;
	opacity: 0;
	margin: 0;
	visibility: hidden;
	text-align: center;
    
}
.armas :hover > p.T{opacity: 1 ;visibility: visible;margin:0px;box-sizing:content-box;padding: 0;}

.armas div:hover{transition: all 0.5s 0s ease;filter: blur(1px);filter:drop-shadow(5px 5px 5px #000);}