*{
	box-sizing: border-box;
	font-family: sans-serif;
}
body,
h1,
h2
{
	margin: 0;
}
main{
	margin:0rem;
	padding: 0rem;
	max-height: 433rem;
}
/*Controlador de menu*/
.menu{
	display: flex;
	justify-content: flex-start;
    background:linear-gradient(to bottom, transparent, rgb(135, 110, 88));
}
.menu,
.menu ul{
	margin: 0px;
	padding:0px;
	
	list-style: none;

	
}
.menu a{
	display: block;
	padding: .9rem;
	color:#eee;
	text-decoration: none;
}
.menu i{
	color:red;
}
.menu ul{
	display: none;
	min-width: 5rem;
	position: absolute;
	top: 100%;
	left: 0;
}

.menu li{position: relative;}
.menu li:hover > ul{display: block}
.menu li:hover{ background: red; }
/*Controlador del Header*/
#header{
    height: 25rem;
	width: 105.4rem;
	padding: 10% 3rem;
	text-align: center;
	color: #eee;
    text-shadow: 0 0 .5rem #333;
    background-color: #333;
    background-image:url('../assets/img/san.png');
    background-size:  100%;
	object-fit: fill;
    background-repeat: no-repeat;
    
}
.example{
	margin: 0rem;
	border-left:.1rem;
	border-left:.2rem solid rgb(169, 148, 105);
    border-bottom: .2rem solid rgb(169, 148, 105);
    padding: .5rem;
    list-style: none;
    background-color: rgb(43,45,57);
    line-height: 1.0rem;
    max-width: auto;


}
.linea-division{
	width: 150px;
	height: px;
	background-color: #36221c;
}
/* estilos de materealize*/
.carousel {
   min-height:615px;
   overflow: visible;

}
.carousel .carousel-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	
	width: 300px;
	height: 680px;
}
.carousel .carousel-item img{
	width: 100%;
	height: 80%;
	object-fit: fill;
	position:absolute;
	top:90px;
	left:0;
	z-index: -1;

}
.carousel .carousel-item h2{
	position: inherit;
	top: 54px;
	color: rgb(0, 0, 0);
	font-size:2.4rem;
}
.carousel .carousel-item p{
	position: inherit;
	top: 620px;
	color: rgb(255, 255, 255);
	font-size: xx-large;
}		

/*de aca para abajo se controlan los cuadros de las armas*/
.armas{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}
.armas li{
	overflow: hidden;
	margin: .5rem;
	border: .2rem #333;
	padding: 1rem;
	line-height: 5rem;
	max-width: 15rem;
	color:#333;
	background-color: #448;
	background-position: center;
	text-align: center;
	

}
.armas :nth-child(1){border-radius: 1rem;
    background-image: url('../assets/img/hb.png');
    background-size: 87% ;
    background-position: center ;
    background-repeat: no-repeat;}
.armas :nth-child(2){border-radius: 1rem;
    background-image: url('../assets/img/CAÑO.jpg');
    background-size: 70% ;
    background-position: center ;
    background-repeat: no-repeat;}
.armas :nth-child(3){border-radius: 1rem;
    background-image: url('../assets/img/Cuchi.jpg');
    background-size: 70% ;
    background-position: center ;
    background-repeat: no-repeat;}
.armas :nth-child(4){border-radius: 1rem;
    background-image: url('../assets/img/PESA.jpg');
    background-size: 70% ;
    background-position: center ;
    background-repeat: no-repeat;}
.armas :nth-child(5){border-radius: 1rem;
    background-image: url('../assets/img/bashe.png');
    background-size: 70% ;
    background-position: center ;
    background-repeat: no-repeat;}





			
/*Pie de pagina*/
#footer{
	
	
	padding: 3rem ;
	color:#eee;
	background-color: #248;
}	












